In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\ardrakr\Downloads\archive (5)\india-news-headlines.csv")

In [3]:
df

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
1048570,20110123,city.lucknow,Police recover 100 'improper' SIMs
1048571,20110123,city.lucknow,5 new KGBVs for Lucknow
1048572,20110123,india,70% can't afford sanitary napkins; reveals study
1048573,20110123,city.lucknow,Cops ask internet cafe; PCO owners to be more ...
1048574,20110123,home.sunday-times.deep-focus,Police to peon: Crowd control a joint venture

In [4]:
df.isnull().sum()

publish_date         0
headline_category    0
headline_text        0
dtype: int64

In [5]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Length: 1048575, dtype: bool

In [6]:
df.duplicated().sum()

10118

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.duplicated().sum()

0

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [10]:
# Initialize the TfidfVectorizer
tfidf = TfidfVectorizer(max_df=0.3,         # drop words that occur in more than X percent of documents
                             #min_df=8,      # only use words that appear at least X times
                             stop_words='english', # remove stop words
                             lowercase=True, # Convert everything to lower case 
                             use_idf=True,   # Use idf
                             norm=u'l2',     # Normalization
                             smooth_idf=True) # Prevents divide-by-zero errors)

In [11]:
# Calculate the TF-IDF scores for the documents
tfidf_matrix = tfidf.fit_transform(df['headline_text'])

In [12]:
print(tfidf_matrix)

  (0, 95058)	0.3744676512979461
  (0, 78953)	0.2661568316817221
  (0, 9851)	0.37205452299720804
  (0, 27287)	0.5270960396202857
  (0, 71714)	0.4826408200892107
  (0, 85637)	0.3738148670105184
  (1, 96744)	0.3971347191836554
  (1, 65189)	0.326108211312187
  (1, 41424)	0.5030946229564341
  (1, 33186)	0.6948620364403343
  (2, 42848)	0.25556734646347734
  (2, 39511)	0.5362365856473605
  (2, 94331)	0.6205290677206542
  (2, 6393)	0.5119368435155
  (3, 36580)	0.44945517854123884
  (3, 25528)	0.5942156742807139
  (3, 13400)	0.6670065778697987
  (4, 91442)	0.37693212434905354
  (4, 91307)	0.4839722987399128
  (4, 20028)	0.4466822844860874
  (4, 16195)	0.43670526715051106
  (4, 31716)	0.48317329609096266
  (5, 75479)	0.6604803435582727
  (5, 91563)	0.4197087561373993
  (5, 69295)	0.26800694604539266
  :	:
  (1038452, 73729)	0.43345353999852043
  (1038452, 145)	0.3578494343248117
  (1038452, 68661)	0.2577971854940705
  (1038453, 48560)	0.8272733198085424
  (1038453, 53146)	0.4763382944680844
  (1038453, 61896)	0.2978601745050684
  (1038454, 60780)	0.5334033706055512
  (1038454, 4882)	0.4256298861575971
  (1038454, 78133)	0.44764135606290784
  (1038454, 2721)	0.3440648758571225
  (1038454, 75249)	0.3570863452659506
  (1038454, 86352)	0.29672540134659503
  (1038455, 16504)	0.4252373177911121
  (1038455, 96307)	0.4506926996687181
  (1038455, 66713)	0.4556682013998998
  (1038455, 43829)	0.3520336446703405
  (1038455, 64813)	0.33601904965549395
  (1038455, 8859)	0.34106865270611875
  (1038455, 21872)	0.23505635427720706
  (1038456, 67044)	0.5063902541429783
  (1038456, 95801)	0.4542792994639032
  (1038456, 21685)	0.3678356940335963
  (1038456, 22856)	0.42965805939766055
  (1038456, 68661)	0.2558355762636368
  (1038456, 46196)	0.3896642666384832

In [13]:
df_tfidf = pd.DataFrame(tfidf_matrix[0].T.todense(), index = tfidf.get_feature_names(), columns=["TF-IDF"])

df_tfidf = df_tfidf.sort_values('TF-IDF', ascending=False)

C:\Users\ardrakr\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [14]:
df_tfidf

               TF-IDF
disturbed    0.527096
quo          0.482641
vajpayee     0.374468
status       0.373815
ayodhya      0.372055
...               ...
flexible     0.000000
flexibility  0.000000
flexibile    0.000000
flexi        0.000000
zzzz         0.000000

[100147 rows x 1 columns]

In [15]:
df_tfidf2 = pd.DataFrame(tfidf_matrix[1].T.todense(), index = tfidf.get_feature_names(), columns=["TF-IDF"])

df_tfidf2 = df_tfidf2.sort_values('TF-IDF', ascending=False)

C:\Users\ardrakr\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [16]:
df_tfidf2

               TF-IDF
fissures     0.694862
hurriyat     0.503095
visit        0.397135
pak          0.326108
00           0.000000
...               ...
flexibility  0.000000
flexibile    0.000000
flexi        0.000000
flexes       0.000000
zzzz         0.000000

[100147 rows x 1 columns]

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
doc2_tfidf=tfidf.transform(["pak attack"])
# calculate the cosine similarity between the documents
sim = cosine_similarity(tfidf_matrix, doc2_tfidf)
print(sim[0][0])

0.0

In [19]:
text_content=df['headline_text']

In [20]:
doc2_tfidf=tfidf.transform(["Status quo will not be disturbed "])
# calculate the cosine similarity between the documents
sim1 = cosine_similarity(tfidf_matrix, doc2_tfidf).flatten()

In [24]:
print(sim1)

[0.80654197 0.         0.         ... 0.         0.         0.        ]

In [21]:
# sort the headlines by cosine similarity and print the top results
related_headlines_indices = sim1.argsort()[:-10:-1]
print("Top related headlines:")
for i in related_headlines_indices:
    print(text_content[i])

Top related headlines:
Status quo will not be disturbed at Ayodhya; says Vajpayee
Bollywood acting guru comes south
She has a baby at 56
China sets up quake monitoring station at Everest
Kerala assembly adjourns sine die
Fresh culling of 1;500 birds begin in MP
Heres why theyre high
Educated and aware but still suffering
Saif; Rosa are game for it

In [22]:
print(related_headlines_indices)

[     0 130691  86060 835939  86059 402651 317378  75302 438213]

In [23]:
doc4_tfidf=tfidf.transform(["Fissures in Hurriyat over Pak visit"])
# calculate the cosine similarity between the documents
sim2 = cosine_similarity(tfidf_matrix, doc4_tfidf)
print(sim2[1][0])

1.0000000000000002

In [29]:
# Get user query
query = input("Enter your query: ")
doc3_tfidf=tfidf.transform([query])
# calculate the cosine similarity between the documents
sim3 = cosine_similarity(tfidf_matrix, doc3_tfidf).flatten()

Enter your query: Status quo will not be disturbed

In [30]:
print(sim3)

[0.80654197 0.         0.         ... 0.         0.         0.        ]

In [31]:
# sort the headlines by cosine similarity and print the top results
related_headlines_indices = sim3.argsort()[:-5:-1]
print("Top related headlines:")
for i in related_headlines_indices:
    print(text_content[i])

Top related headlines:
Status quo will not be disturbed at Ayodhya; says Vajpayee
Bollywood acting guru comes south
She has a baby at 56
China sets up quake monitoring station at Everest